.fa-pinterest-square {color: white;}
.navbar {font-family: 'Montserrat', sans-serif;
letter-spacing: 1px;
font-size: 11px;}
.main {padding: 0 17%;}
#logo {text-align: center;
padding-top: 0;}

.carousel-inner {max-height: 500px;}
#carouselDark {padding: 5% 0;}
.card-img {max-height: 180px;}

.container2 {padding-top: 3%;}

